<!DOCTYPE html>
<html lang="en">
<head>
    <title>BubbleBurst | A multiplayer game</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is a multiplayer PC game made with Vue.js for front end and Laravel (PHP) is for back and DB MySQL">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="shortcut icon" href="./assets/player1.svg" type="image/x-icon">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="gameDiv " :class="{bubbleReached: bubbleReached}">
        <h2>Player 1: {{ score }}</h2>
        <img src="./assets/player1.svg" :style="player"  alt="player1svg" class="player" id="player1">
        
        <!-- Loop throught each bullet             
            1. Add
            2. Remove
            3. Update 
        -->
        <template v-for="bullet in bullets">
            <div class="bullet" 
            :style="[{left: bullet.x + 'px'},
                    {top: bullet.y + 'px'}]"></div>
        </template>
        <template v-for="(bubble, color) in bubbles">
            <img :style="[{left: bubble.x + 'px'},
            {top: bubble.y + 'px'}]"   


            :src="`./assets/bubble_${bubble.color}.svg`"
            alt="bubblesvg" class="bubble">
        </template>
    </div>
</body>

<script src="./script.js"></script>

</html>